.tagnameContainer {
    background-color: $main-color;
    width: 84px;
    padding: 0.3rem 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (width >=1024px) {
        width: 115px;
    }

    .tagname-text {
        color: $white-color;
        font-size: 10px;

        @media (width >=1024px) {
            font-size: 14px;
        }
    }

}